.hidden {
    display: none;
}

* body {
    text-align: center;
    background-image: url('/img/photo1.jpeg');
    background-repeat: repeat;
    background-size: 100%;
}

form {
    display: inline-flex;
    flex-direction: column;

}

#error-message {
    font-weight: 600;
    color: red;
}